/Debug/
/Release/
/LUNG1-008/
/LUNG1-024/
/LUNG1-025/
/1/
/2/
/3/
*.raw
/asdasd/
/movimage/
/resimage/
/brainimage/
/x64/
/bones_res/
/R0064/
/R0065/
/R0077/
*.aps
*.rc
*.vcxproj
*.filters
*.user
*.dcm
